Repository damilola-elegbede/claude-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Shell script quality checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: ShellCheck
        description: Shell script analysis tool
        entry: shellcheck
        language: python
        types: [shell]
        args: [--format=gcc, --severity=warning, -e, SC2154, -e, SC2164, -e, SC2155]
        exclude: ^(node_modules/|temp-scripts/|\.git/)

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(node_modules/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(node_modules/|\.git/)
      - id: check-executables-have-shebangs
        exclude: ^(node_modules/|\.git/)
      - id: check-shebang-scripts-are-executable
        exclude: ^(node_modules/|\.git/)

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        exclude: ^(node_modules/|\.git/)

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(node_modules/|\.git/)
        args: [--config, .markdownlint-cli2.jsonc]

  # Claude Code configuration validation
  - repo: local
    hooks:
      - id: validate-agent-yaml
        name: Validate Agent YAML
        entry: python scripts/validate-agent-yaml.py
        language: python
        files: ^system-configs/\.claude/agents/.*\.md$
        pass_filenames: false
        additional_dependencies: [PyYAML]

      - id: validate-skill-yaml
        name: Validate Skill YAML
        entry: python scripts/validate-skills.py
        language: python
        files: ^system-configs/\.claude/skills/.*\.md$
        pass_filenames: false
        additional_dependencies: [PyYAML]

      - id: check-orphan-references
        name: Check Orphan References
        entry: python scripts/check-orphans.py
        language: python
        files: ^system-configs/
        pass_filenames: false

      - id: config-integrity-tests
        name: Config Integrity Tests
        entry: python scripts/test-config-integrity.py
        language: python
        files: ^system-configs/
        pass_filenames: false
        stages: [pre-push]

# Configuration for pre-commit
default_language_version:
  python: python3

minimum_pre_commit_version: '3.0.0'

# Global excludes
exclude: |
  (?x)^(
      node_modules/.*|
      \.git/.*|
      temp-scripts/.*
  )$

fix: resolve review feedback (4 issues)
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

fix: add explicit fix_count/skip_count calculation
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

feat(resolve-comments): extract CodeRabbit AI prompts for fixes
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

fix: resolve review feedback (11 issues)
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (4 issues)
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

fix(sync): add --delete flag to remove orphaned files
  scripts/sync.sh
Due: none

fix(resolve-comments): enforce table format and auto-generate skip reasons
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

fix: resolve review feedback (9 issues)
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

fix: allow dots in owner/repo regex validation
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

feat: enhance fix-ci with two-phase architecture, cleanup skills
  scripts/sync.sh
  system-configs/.claude/agents/career-assistant.md
  system-configs/.claude/commands/fix-ci.md
  system-configs/.claude/skills/application-tracking/SKILL.md
  system-configs/.claude/skills/bash/SKILL.md
  system-configs/.claude/skills/coderabbit/SKILL.md
  system-configs/.claude/skills/company-research/SKILL.md
  system-configs/.claude/skills/cover-letter-writing/SKILL.md
  system-configs/.claude/skills/git-workflows/SKILL.md
  system-configs/.claude/skills/interview-preparation/SKILL.md
  system-configs/.claude/skills/job-description-analysis/SKILL.md
  system-configs/.claude/skills/markdown/SKILL.md
  system-configs/.claude/skills/pdf-generation/SKILL.md
  system-configs/.claude/skills/python/SKILL.md
  system-configs/.claude/skills/resume-ats-optimization/SKILL.md
  system-configs/.claude/skills/resume-parsing/SKILL.md
  system-configs/.claude/skills/social-media-apis/SKILL.md
  system-configs/.claude/skills/social-media-content/SKILL.md
  system-configs/.claude/skills/web-scraping/SKILL.md
  system-configs/.claude/skills/yaml/SKILL.md
Due: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

fix(ci): update integrity tests for career-assistant removal
  scripts/test-config-integrity.py
Due: none

fix: resolve CodeRabbit feedback (1 issue)
  system-configs/.claude/commands/fix-ci.md
Due: check-orphan-references, config-integrity-tests

feat(commands): improve CodeRabbit integration for review and resolve-comments
  system-configs/.claude/commands/resolve-comments.md
  system-configs/.claude/commands/review.md
Due: check-orphan-references, config-integrity-tests

fix(sync): remove misplaced ~/.claude/CLAUDE.md during sync
  scripts/sync.sh
Due: none

fix: resolve review feedback (13 security and quality issues)
  scripts/sync.sh
  system-configs/.claude/commands/resolve-comments.md
  system-configs/.claude/commands/review.md
Due: check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (6 issues)
  scripts/sync.sh
  system-configs/.claude/commands/resolve-comments.md
  system-configs/.claude/commands/review.md
Due: check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (2 issues)
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

feat: add orchestration skills system with task tracking
  .github/workflows/ci.yml
  docs/agents/AGENT_INVENTORY.md
  docs/commands/COMMAND_INVENTORY.md
  docs/skills/ORCHESTRATION_SKILL_TEMPLATE.md
  docs/skills/SKILLS_GUIDE.md
  docs/skills/SKILL_TEMPLATE.md
  scripts/detect-circular-deps.py
  scripts/sync.sh
  scripts/validate-skills.py
  system-configs/.claude/agents/accessibility-auditor.md
  system-configs/.claude/agents/code-reviewer.md
  system-configs/.claude/agents/data-engineer.md
  system-configs/.claude/agents/researcher.md
  system-configs/.claude/commands/debug.md
  system-configs/.claude/commands/docs.md
  system-configs/.claude/commands/fix-ci.md
  system-configs/.claude/commands/merge.md
  system-configs/.claude/commands/ship-it.md
  system-configs/.claude/commands/test.md
  system-configs/.claude/skills/debug/SKILL.md
  system-configs/.claude/skills/review/SKILL.md
  system-configs/.claude/skills/ship-it/SKILL.md
  system-configs/CLAUDE.md
Due: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

fix(ci): resolve CI failures and PR review comments
  .github/workflows/ci.yml
  docs/skills/SKILLS_GUIDE.md
  scripts/detect-circular-deps.py
  scripts/sync.sh
  scripts/validate-agent-yaml.py
  system-configs/.claude/agents/accessibility-auditor.md
  system-configs/.claude/skills/debug/SKILL.md
  system-configs/.claude/skills/review/SKILL.md
  system-configs/.claude/skills/ship-it/SKILL.md
Due: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

fix(ci): update expected agent/command counts in integrity tests
  scripts/test-config-integrity.py
Due: none

fix: resolve CodeRabbit feedback (6 issues)
  .github/workflows/ci.yml
  docs/skills/SKILLS_GUIDE.md
  scripts/detect-circular-deps.py
  scripts/sync.sh
  system-configs/.claude/skills/review/SKILL.md
Due: validate-skill-yaml, check-orphan-references, config-integrity-tests

fix: remove duplicate commands migrated to skills
  docs/commands/COMMAND_INVENTORY.md
  docs/skills/SKILLS_GUIDE.md
  scripts/test-config-integrity.py
  scripts/validate-skills.py
  system-configs/.claude/commands/debug.md
  system-configs/.claude/commands/review.md
  system-configs/.claude/commands/ship-it.md
  tests/comprehensive/test_system_health.sh
  tests/config/test_command_files.sh
Due: check-orphan-references, config-integrity-tests

feat(output-styles): add brutal-honesty and executive modes
  system-configs/.claude/output-styles/brutal-honesty.md
  system-configs/.claude/output-styles/executive.md
Due: check-orphan-references, config-integrity-tests

fix: restore orchestration commands for argument passing
  docs/commands/COMMAND_INVENTORY.md
  docs/skills/SKILLS_GUIDE.md
  scripts/test-config-integrity.py
  system-configs/.claude/commands/debug.md
  system-configs/.claude/commands/review.md
  system-configs/.claude/commands/ship-it.md
  system-configs/.claude/skills/debug/SKILL.md
  system-configs/.claude/skills/ship-it/SKILL.md
  tests/comprehensive/test_system_health.sh
  tests/config/test_command_files.sh
Due: validate-skill-yaml, check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (3 issues)
  system-configs/.claude/commands/debug.md
  system-configs/.claude/commands/review.md
  system-configs/.claude/commands/ship-it.md
Due: check-orphan-references, config-integrity-tests

feat(commands): add skills-import and improve resolve-comments
  scripts/resolve-comments-optimized.sh
  system-configs/.claude/commands/resolve-comments.md
  system-configs/.claude/commands/skills-import.md
Due: check-orphan-references, config-integrity-tests

fix(ci): update expected command count to 22
  scripts/test-config-integrity.py
Due: none

fix(security): address CodeRabbit review findings
  system-configs/.claude/commands/skills-import.md
Due: check-orphan-references, config-integrity-tests

refactor: move sync and skills-import to project-local .claude/commands
  .claude
  .claude/commands/skills-import.md
  .claude/commands/sync.md
  scripts/test-config-integrity.py
  tests/commands/test_sync.sh
  tests/comprehensive/test_system_health.sh
  tests/integration/test_integration.sh
Due: none

fix(ci): remove sync.md from required files check
  .github/workflows/ci.yml
Due: none

docs: update model references from Opus 4.5 to Opus 4.6
  docs/PLUGIN_STRATEGY.md
  docs/agents/AGENT_TEMPLATE.md
  docs/api/agent-specification.md
  docs/commands/COMMAND_TEMPLATE.md
  docs/quality/DELEGATION_COMPLIANCE.md
Due: none

feat: enable agent teams with permission modes, memory, and lifecycle hooks
  agent-capability-matrix.json
  docs/agents/AGENT_INVENTORY.md
  docs/agents/AGENT_TEMPLATE.md
  docs/development/YAML_REQUIREMENTS.md
  docs/setup/AUDIO_HOOK_README.md
  scripts/validate-agent-yaml.py
  system-configs/.claude/agents/accessibility-auditor.md
  system-configs/.claude/agents/architect.md
  system-configs/.claude/agents/backend-engineer.md
  system-configs/.claude/agents/code-reviewer.md
  system-configs/.claude/agents/data-engineer.md
  system-configs/.claude/agents/debugger.md
  system-configs/.claude/agents/devops.md
  system-configs/.claude/agents/frontend-engineer.md
  system-configs/.claude/agents/researcher.md
  system-configs/.claude/agents/security-auditor.md
  system-configs/.claude/agents/tech-writer.md
  system-configs/.claude/agents/test-engineer.md
  system-configs/.claude/settings.json
  system-configs/CLAUDE.md
Due: validate-agent-yaml, check-orphan-references, config-integrity-tests

fix: add mode gate to resolve-comments and update CLAUDE.md for new capabilities
  CLAUDE.md
  docs/agents/AGENT_TEMPLATE.md
  system-configs/.claude/commands/resolve-comments.md
  system-configs/CLAUDE.md
Due: check-orphan-references, config-integrity-tests

fix: add mode gate to resolve-comments and update CLAUDE.md for new capabilities
  system-configs/.claude/commands/resolve-comments.md
Due: check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (2 issues)
  agent-capability-matrix.json
  docs/agents/AGENT_TEMPLATE.md
Due: none

fix(ci): update CI checks and tests for commands-to-skills migration
  .github/workflows/ci.yml
  scripts/check-orphans.py
  scripts/test-config-integrity.py
  tests/commands/test_commit.sh
  tests/commands/test_plan.sh
  tests/commands/test_prime.sh
  tests/commands/test_push.sh
  tests/commands/test_sync.sh
  tests/commands/test_test.sh
  tests/commands/test_verify.sh
  tests/comprehensive/test_system_health.sh
  tests/config/test_command_files.sh
  tests/integration/test_command_template_compliance.sh
  tests/integration/test_integration.sh
  tests/sync/test_sync_functionality.sh
  tests/validate_command_yaml.sh
Due: none

fix: remove context: fork from resolve-comments to restore interactive prompts
  docs/skills/SKILLS_GUIDE.md
  scripts/validate-skills.py
  system-configs/.claude/skills/feature-lifecycle/SKILL.md
  system-configs/.claude/skills/resolve-comments/SKILL.md
  system-configs/.claude/skills/review/SKILL.md
Due: validate-skill-yaml, check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (13 issues)
  requirements.txt
  system-configs/.claude/agents/feature-agent.md
  system-configs/.claude/agents/ml-engineer.md
  system-configs/.claude/agents/mobile-engineer.md
  system-configs/.claude/skills/api-design-patterns/SKILL.md
  system-configs/.claude/skills/docx/scripts/accept_changes.py
  system-configs/.claude/skills/docx/scripts/office/helpers/simplify_redlines.py
  system-configs/.claude/skills/docx/scripts/office/pack.py
  system-configs/.claude/skills/docx/scripts/office/soffice.py
  system-configs/.claude/skills/docx/scripts/office/unpack.py
  system-configs/.claude/skills/docx/scripts/office/validate.py
  system-configs/.claude/skills/docx/scripts/office/validators/docx.py
Due: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests
