Repository damilola-elegbede/claude-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Shell script quality checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: ShellCheck
        description: Shell script analysis tool
        entry: shellcheck
        language: python
        types: [shell]
        args: [--format=gcc, --severity=warning, -e, SC2154, -e, SC2164, -e, SC2155]
        exclude: ^(node_modules/|temp-scripts/|\.git/)

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(node_modules/|\.git/)
      - id: end-of-file-fixer
        exclude: ^(node_modules/|\.git/)
      - id: check-executables-have-shebangs
        exclude: ^(node_modules/|\.git/)
      - id: check-shebang-scripts-are-executable
        exclude: ^(node_modules/|\.git/)

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        exclude: ^(node_modules/|\.git/)

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(node_modules/|\.git/)
        args: [--config, .markdownlint-cli2.jsonc]

  # Claude Code configuration validation
  - repo: local
    hooks:
      - id: validate-agent-yaml
        name: Validate Agent YAML
        entry: python scripts/validate-agent-yaml.py
        language: python
        files: ^system-configs/\.claude/agents/.*\.md$
        pass_filenames: false
        additional_dependencies: [PyYAML]

      - id: validate-skill-yaml
        name: Validate Skill YAML
        entry: python scripts/validate-skills.py
        language: python
        files: ^system-configs/\.claude/skills/.*\.md$
        pass_filenames: false
        additional_dependencies: [PyYAML]

      - id: check-orphan-references
        name: Check Orphan References
        entry: python scripts/check-orphans.py
        language: python
        files: ^system-configs/
        pass_filenames: false

      - id: config-integrity-tests
        name: Config Integrity Tests
        entry: python scripts/test-config-integrity.py
        language: python
        files: ^system-configs/
        pass_filenames: false
        stages: [pre-push]

# Configuration for pre-commit
default_language_version:
  python: python3

minimum_pre_commit_version: '3.0.0'

# Global excludes
exclude: |
  (?x)^(
      node_modules/.*|
      \.git/.*|
      temp-scripts/.*
  )$

fix: resolve CodeRabbit feedback (4 issues) and update PR checks workflow
  .claude/skills/skills-import/SKILL.md
  .github/workflows/pr-checks.yml
  requirements.txt
Due: none

fix(ci): skip section checks for reference and imported skills in pr-checks
  .github/workflows/pr-checks.yml
Due: none

fix(ci): add proper per-type skill validation in pr-checks
  .github/workflows/pr-checks.yml
Due: none

fix(ci): support phase-based orchestration skills in validation
  .github/workflows/pr-checks.yml
Due: none

fix: resolve CodeRabbit feedback (6 issues)
  docs/skills/SKILLS_GUIDE.md
  requirements.txt
  scripts/check-orphans.py
  system-configs/.claude/skills/docx/scripts/accept_changes.py
  system-configs/.claude/skills/docx/scripts/office/validators/docx.py
  system-configs/.claude/skills/feature-lifecycle/SKILL.md
Due: validate-skill-yaml, check-orphan-references, config-integrity-tests

fix(ci): upgrade lxml 4.9.4 to 5.3.2 for Python 3.13 compatibility
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  requirements.txt
Due: none

fix: guard ZIP extraction against Zip Slip in docx validator
  system-configs/.claude/skills/docx/scripts/office/validators/docx.py
Due: check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (3 issues)
  system-configs/.claude/skills/plan/SKILL.md
  system-configs/.claude/skills/resolve-comments/SKILL.md
Due: validate-skill-yaml, check-orphan-references, config-integrity-tests

fix(ci): update expected skill count after cicd-patterns removal
  scripts/test-config-integrity.py
  tests/comprehensive/test_system_health.sh
  tests/config/test_command_files.sh
Due: none

fix: correct skill inventory counts to match actual 34 skills
  docs/commands/COMMAND_INVENTORY.md
  docs/skills/SKILLS_GUIDE.md
Due: none

refactor(review): simplify to single code-reviewer agent with assertive analysis
  docs/commands/COMMAND_INVENTORY.md
  docs/skills/SKILLS_GUIDE.md
  system-configs/.claude/agents/code-reviewer.md
  system-configs/.claude/skills/review/SKILL.md
  system-configs/CLAUDE.md
Due: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

fix: resolve review feedback (2 issues)
  system-configs/.claude/agents/code-reviewer.md
  system-configs/.claude/skills/resolve-comments/SKILL.md
Due: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

feat: add context window % to statusline and force tmux for agent teams
  system-configs/.claude/settings.json
  system-configs/.claude/statusline.sh
  tests/config/test_statusline_comprehensive.sh
Due: check-orphan-references, config-integrity-tests

fix: review feedback - consolidate jq calls, fix legacy cleanup, portable touch
  system-configs/.claude/statusline.sh
  tests/config/test_statusline_comprehensive.sh
Due: check-orphan-references, config-integrity-tests

fix(ci): replace apt-get shellcheck install with pre-installed binary detection
  .github/workflows/ci.yml
  .github/workflows/shellcheck.yml
Due: none

fix: resolve CodeRabbit feedback (3 issues)
  .github/workflows/ci.yml
  .github/workflows/shellcheck.yml
  system-configs/.claude/statusline.sh
Due: check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (1 issue)
  system-configs/.claude/statusline.sh
Due: check-orphan-references, config-integrity-tests

feat: mandate TeamCreate for multi-agent workflows across skills
  system-configs/.claude/skills/fix-ci/SKILL.md
  system-configs/.claude/skills/implement/SKILL.md
  system-configs/.claude/skills/review/SKILL.md
  system-configs/CLAUDE.md
Due: validate-skill-yaml, check-orphan-references, config-integrity-tests

fix: add subagents to TeamCreate mandate and restore Agent Routing table
  system-configs/CLAUDE.md
Due: check-orphan-references, config-integrity-tests

fix: resolve CodeRabbit feedback (1 issue)
  system-configs/CLAUDE.md
Due: check-orphan-references, config-integrity-tests

feat: add model tier policy and Codex CLI delegation for cost savings
  docs/agents/AGENT_TEMPLATE.md
  scripts/validate-agent-yaml.py
  system-configs/.claude/agents/accessibility-auditor.md
  system-configs/.claude/agents/codex-delegate.md
  system-configs/.claude/agents/tech-writer.md
  system-configs/.claude/skills/codex/SKILL.md
  system-configs/.claude/skills/fix-ci/SKILL.md
  system-configs/.claude/skills/implement/SKILL.md
  system-configs/.claude/skills/review/SKILL.md
  system-configs/CLAUDE.md
Due: validate-agent-yaml, validate-skill-yaml, check-orphan-references, config-integrity-tests

fix: resolve review feedback on model tier and category consistency
  docs/agents/AGENT_TEMPLATE.md
  system-configs/.claude/agents/tech-writer.md
Due: validate-agent-yaml, check-orphan-references, config-integrity-tests

fix(ci): update expected agent and skill counts for codex-delegate and skill-creator
  scripts/test-config-integrity.py
Due: none
